/* ------------------------------------------------------------------------__*/
/*
/*                               DMIX: Content
/*
/* ------------------------------------------------------------------------__*/


body, html {
    height: 100%;
}

@media (--breakpoint-not-small) {
    body, html {
        background: var(--bg);
    }
}

/* --------------------------------------------------------------------------*/
/* Base
/* --------------------------------------------------------------------------*/

a {
    color: var(--primary);
    text-decoration: none;
}

hr {
    color: transparent;
    border: none;
    background-color: black;
    opacity: .1;
    height: 1px;
}

.admin-nav {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 200px;
    min-height: 300px;
    text-align: right;

    a {
        color: var(--bg);
    }

    &:hover {
        a {
            color: var(--black-50);
        }
    }
}

.count {
    position: relative;
    top: -2px;
}

.help-block {
    font-size:.875rem;
    color:var(--black-60);
    color:var(--light-red);
    text-transform: capitalize;
    /* color: white; */
    background:var(--near-white);
    padding: 0.5rem;
    margin-top:-0.55rem;
    display: block;
    margin-bottom:var(--spacing-small);
    border-radius:.125rem;
    border: 1px;
    border-style: solid;
    border-color: var(--black-20);
}

.admin-table {
    width: 100%;
}

.admin-table td, .admin-table th {
    line-height: 1.5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-color: var(--black-20);
    border-style: dotted;
    border-width: 0;
    border-bottom-width: 1px;
}

.admin-table th {
    border-style: solid;
    border-color: var(--black-40);
}
